.tabbed-slidebox .slider {
  height: 100%;
}
.tabbed-slidebox.btm .slider {
  margin-bottom: -50px;
}
.tabbed-slidebox .slider-slides {
  width: 100%;
  margin-top: 40px;
}

.tabbed-slidebox .slider-slide {
  padding-top: 0;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-weight: 300;
}

.tabbed-slidebox .tsb-icons {
  text-align: center;
  position: absolute;
  background-color: #AA0000;
  top: 0;
  z-index: 9999;
  left: 0;
  right: 0;
  border-bottom: 2px solid #cdcdcd;
}

.tabbed-slidebox .tsb-ic-wrp {
  display: flex;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
  -webkit-transform:translate3d(0,0,0);
}

.tabbed-slidebox .tsb-icons a {
  width: 54px;
  font-size: 2.5em;
  color: white;
  -webkit-transform:translate3d(0,8px,0);
}

.tabbed-slidebox .tsb-icons a.active {
  color: rgba(0, 0, 0, 1);
  font-size: 1.35em;
  -webkit-transform:translate3d(0,0,0);
}

.tabbed-slidebox .tabbed-slidebox {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.tsb-hscroll.scroll-view{
  white-space: nowrap;
  margin:0 auto;
}
.tsb-hscroll.scroll-view .scroll-bar{
  visibility:hidden;
}
.tsb-hscroll.scroll-view .scroll.onscroll{
  -webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
}

.tabbed-slidebox .tsb-icons .scroll a{
  width:auto;
  font-size: 1.02em;
  text-decoration: none;
  margin: 0 15px;
  vertical-align: bottom;
  height: 40px;
}
.tabbed-slidebox .tsb-icons .scroll a.active {
  border-bottom: 2px solid #f0ff80;
  color: #f0ff80;
  padding-bottom: 9px;
}
.tsb-ic-wrp .scroll {
  height: 40px;
  line-height: 40px;
}
